:root{
    background-image: radial-gradient(circle at 43.84% 120.44%, #916a72 0, #826367 10%, #705b5c 20%, #5d5352 30%, #474949 40%, #2f3e42 50%, #14333c 60%, #002838 70%, #001f35 80%, #001733 90%, #000d31 100%);
    display: grid;
    align-self: center;
    justify-content: center;
    

}
.fundo{
    background-image: url("assets/fundo_bg.png");
    display: grid;
    height: 680px;
    width: 796px;
    align-content: center;
    justify-content: center;
}
.container{
    background-image: radial-gradient(circle at 43.84% 120.44%, #6c528d 0, #483477 25%, #18165f 50%, #000048 75%, #000036 100%);
    color: white;
    height: 680px;
    width: 496px;
    font-size: smaller;
}

img{
    height: 33.5px;
    width: 33.5px;
    align-self: center;
    
}
select{
    width: 140px;
    height: 20px;
    color: white;
    border: solid 2px;
    border-color: #42828c;
    background-color: #1c2427;
    border-radius: 10px;
    align-items: center;
}
button{
    width: 140px;
    height: 20px;
    color: white;
    border: solid 2px;
    border-color:  #42828c;
    background-color: #1c2427;
    border-radius: 10px;
}

.top, .jg, .mid, .adc, .sup{
    display: grid;
    grid-template-columns: 140px 140px 140px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    border-top: solid 2px;
    border-color: #ba8e47;
    margin-bottom: 2px;
    
}

.top1{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.top2{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.jg1{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.jg2{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.mid1{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.mid2{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.adc1{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.adc2{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.sup1{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.sup2{
    display: grid;
    grid-template-rows: 16.7px 33.5px 33.5px 16.7px 16.7px;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#cronometro1Top, #cronometro2Top, #cronometro1Jg, #cronometro2Jg, #cronometro1Mid, #cronometro2Mid, #cronometro1Adc, #cronometro2Adc, #cronometro1Sup, #cronometro2Sup{
    font-size: large;
    font-weight: bold;
}